@import "../bower_components/bootstrap-less/less/bootstrap.less";

.words {
  min-height: 50px;
}

.board {
  border: solid 1px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.solved {
  background: #bbffbb;
}

.inline {
  display: inline-block;
  margin: 3px;
}

.word {
  border: solid 1px #bbb;
  border-radius: 3px;
  background: #efefef;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px 5px;
}

.slot {
  border: solid 1px #bbb;
  border-radius: 3px;
  height: 32px;
  padding: 1px;
}

.slot-container {
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.indicator {
}