@import "../bower_components/bootstrap-less/less/bootstrap.less";

.words {
  min-height: 50px;
}

.board {
  height: 400px;
  border: solid 1px;
}

.word {
  display: inline-block;
  border: solid 1px #bbb;
  border-radius: 3px;
  padding:  3px 5px;
  background: #efefef;
  cursor: pointer;
  margin: 3px;
}